:root {
  --pagefind-ui-scale: 0.9;
  --pagefind-ui-primary: var(--color-accent);
  --pagefind-ui-text: var(--color-fg);
  --pagefind-ui-background: var(--color-bg);
  --pagefind-ui-border: var(--color-border);
  --pagefind-ui-tag: var(--color-border);
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 6px;
  --pagefind-ui-font: var(--font-sans);
}

.pagefind-ui__search-input {
  outline: none !important;
  box-shadow: none !important;
  border-color: var(--color-border) !important;
}

.pagefind-ui__search-input:focus {
  border-color: var(--color-fg) !important;
}
